*{
    overflow-x:hidden;
    overflow-y: hidden;
}
/* .Form-Floating {
    max-width: 50px;
} */

.background img{
    position: absolute;
    width: 100%;
}

.login{
    position: relative;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    transform:translateX(-300);
    width: 350px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.669);
    border-radius: 10px;
    box-shadow: 6px -5px 11px 0px #969696;
}

.label{
    width: 290px;
    margin-left: 30px;
}

.login_title{
    width: 100%;
}

.login_title p{
    position: relative;
    font-size: 50px;
    font-weight: 620;
    line-height: 1.7;
    letter-spacing: 3px;
    margin-top: 70px;
    margin-bottom: 0px;
}

.login p{
    font-size: 30px;   
    margin-top: 10px; 
}

.btn-sign {
    margin-top: 15px;
}

.btn-sign button{
    width: 150px;
}

.SignWGG{
    margin-top: 1px;
}

.Load_create{
    margin-top: 5px;
    width: 350px;
    height: 190px;
    background-color: rgba(255, 255, 255, 0.669);
    border-radius: 10px;
    box-shadow: 6px -5px 11px 0px #969696;
}

.Load_create p{
    font-size: 20px;
    margin-bottom: 0px;
}

.Load_create h6{
    margin-top: 13px;
    margin-right: 10px;
}

.Load_create button{
    margin-top: 10px;
    width: 170px;
}
